@media(min-width: 721px) and (max-width: 1200px){
    .main1{
        width: 1200px;
    }
    
    .swiper{
        width: 1200px;
    }
    header{
        width: 1200px;
    }
    .s5{
        height: 150px;
        width: 2000px;
        margin-left: -5%;
    }
    #s5{
        height: 150px;
        width: 2000px;
        margin-left: -5%;
    }
    .s4{
        position: relative;
        top: 5%;
        left: -15%;
    }
    .s6 .s7{
        margin-left: -5%;
    }
    .main2{
        width: 1200px;
    }
    .main3{
        width: 1200px;
    }
    .main4{
        width: 1200px;
    }
    .main6{
        width: 1200px;
    }
    .main7{
        width: 1200px;
        margin-left: 0px;
    }
    
    .main8{
        width: 1200px;
    }
    .main10{
        width: 1200px;
    }
    .main11{
        width: 95%;
    }
    .main12{
        width: 1200px;
    }
    .main12 .s35{
        position: relative;
        left: 50%;
    }
    .main13{
        width: 1200px;
    }
    .main14{
        width: 1200px;
    }
    .main14 p{
        width: 250px;
    }
    
    footer{
        position: relative;
        top: 0px;
        width: 1200px;
    }
}

@media(min-width: 481px) and (max-width: 720px){
    .main1{
        width: 720px;
    }
    
    .swiper{
        width: 720px;
    }
    
    header{
        width: 720px;
    }
    header .s1 img{
        position: relative;
        left: 130%;
    }
    header nav{
        display: none;
    }
    header .s2{
        display: none;
    }
    header #toggle{
        position: relative;
        left: 65%;
    }
    .main1 .s4{
        margin-left: 10%;
    }
    .main1 .s5{
        display: none;
    }
    .main1 .s6{
        display: none;
    }
    .main2{
        height: 2000px;
        width: 720px;
    }
    .s8{
        width: 650px;
        display: flex;
        flex-wrap: wrap;
    }
    .main2 .s8 .s9{
        height: 600px;
        width: 700px;
    }
    .main2 .s8 .s9 .s10{
        height: 400px;
    }
    
    .main2 .s8 .s9 .s10 .s11{
        height: 400px;
        background-size: 80% 90%;
        background-repeat: no-repeat;
        margin-left: 10%;
    }
    
    .main2 .s8 .s9 .s10 .s12{
        height: 400px;
        background-size: 80% 90%;
        background-repeat: no-repeat;
        margin-left: 10%;
    }
    
    .main2 .s8 .s9 .s10 .s13{
        height: 400px;
        background-size: 80% 90%;
        background-repeat: no-repeat;
        margin-left: 10%;
    }
    .main3{
        width: 720px;
        background-size: 100% 100%;
    }
    .main4{
        height: 750px;
        width: 720px;
    }
    .main4 h1{
        font-size: 35px;
    }
    .main5{
        width: 720px;
        display: flex;
        flex-wrap: wrap;
    }
    .main5 .s20{
        width: 45%;
    }
    
    .main6{
        height: 300px;
        width: 720px;
    }
    .main6 .s25{
        margin-top: -50px;
        margin-left: 0px;
        width: 650px;
    }
    .main7{
        width: 650px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 35px;
    }
    
    .main7 .s27{
        width: 100%;
    }
    .main7 .s28{
        width: 100%;
    }
    .main8{
        height: 800px;
        width: 720px;
    }
    .main8 h1{
        font-size: 35px;
    }
    .main9{
        width: 720px;
        display: flex;
        flex-wrap: wrap;
    }
    .main9 .s20{
        width: 45%;
    }
    .main10{
        height: 350px;
        width: 720px;
    }
    
    .main11{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }
    .main11 .s30{
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
    }
    .main12{
        width: 720px;
        position: relative;
        top: 1000px;
    }
    .main12 .s35{
        position: relative;
        left: 15%;
    }
    .main13{
        width: 720px;
        position: relative;
        top: 1000px;
        display: flex;
        flex-wrap: wrap;
    }
    .main13 .s36{
        width: 100%;
    }
    .main13 .s37{
        width: 100%;
    }
    
    .main14{
        width: 720px;
        position: relative;
        top: 1600px;
        display: flex;
        flex-wrap: wrap;
    }
    .main14 p{
        width: 250px;
    }
    .main14 .s39{
        width: 50%;
    }
    
    footer{
        position: relative;
        top: 1900px;
        width: 720px;
        display: flex;
        flex-wrap: wrap;
    }
    .main15{
        width: 100%;
    }
    .main15 .s40 p{
        width: 200px;
    }
}

@media(min-width: 0px) and (max-width: 480px){
    .main1{
        width: 480px;
    }
    
    .swiper{
        width: 480px;
    }
    header{
        width: 480px;
    }
    header .s1 img{
        position: relative;
        left: 100%;
    }
    header nav{
        display: none;
    }
    header .s2{
        display: none;
    }
    header #toggle{
        position: relative;
        left: 65%;
    }
    .main1 .s4{
        height: 450px;
        width: 450px;
        margin-left: 5%;
    }
    .main1 .s4 img{
        height: 80%;
        width: 450px;

    }
    .main1 .s5{
        display: none;
    }
    .main1 .s6{
        display: none;
    }
    
    .main2{
        height: 1750px;
        width: 480px;
    }
    .main2 h1{
        font-size: 25px;
    }
    .s8{
        width: 450px;
        display: flex;
        flex-wrap: wrap;
    }
    .main2 .s8 .s9{
        height: 500px;
        width: 700px;
    }
    .main2 .s8 .s9 .s10{
        height: 350px;
    }
    
    .main2 .s8 .s9 .s10 .s11{
        height: 350px;
        background-size: 90% 90%;
        background-repeat: no-repeat;
        margin-left: 5%;
    }
    
    .main2 .s8 .s9 .s10 .s12{
        height: 350px;
        background-size: 90% 90%;
        background-repeat: no-repeat;
        margin-left: 5%;
    }
    
    .main2 .s8 .s9 .s10 .s13{
        height: 350px;
        background-size: 90% 90%;
        background-repeat: no-repeat;
        margin-left: 5%;
    }
    .main3{
        height: 300px;
        width: 480px;
        background-size: cover;
        position: relative;
        top: -200px;
    }
    
    .main4{
        height: 750px;
        width: 480px;
    }
    .main4 h1{
        font-size: 35px;
        position: relative;
        top: -50px;
    }
    .main5{
        width: 480px;
        display: flex;
        flex-wrap: wrap;
    }
    .main5 .s20{
        width: 45%;
    }
    .main6{
        height: 300px;
        width: 480px;
    }
    .main6 .s25{
        margin-top: -50px;
        margin-left: 0px;
        width: 450px;
    }
    .main6 .s25 h1{
        font-size: 20px;
    }
    .main7{
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 40px;
    }
    
    .main7 .s27{
        height: 500px;
        width: 100%;
    }
    .main7 .s28{
        height: 500px;
        width: 100%;
    }
    
    .main8{
        height: 800px;
        width: 480px;
    }
    .main8 h1{
        font-size: 35px;
    }
    .main9{
        width: 480px;
        display: flex;
        flex-wrap: wrap;
    }
    .main9 .s20{
        width: 45%;
    }
    .main10{
        height: 500px;
        width: 480px;
    }
    
    .main11{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }
    .main11 .s30{
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
    }
    
    .main12{
        width: 480px;
        position: relative;
        top: 1000px;
    }
    .main12 .s35{
        position: relative;
        width: 450px;
        left: 5%;
    }
    
    .main13{
        width: 480px;
        position: relative;
        top: 1000px;
        display: flex;
        flex-wrap: wrap;
    }
    .main13 .s36{
        width: 100%;
    }
    .main13 .s37{
        width: 100%;
    }
    .main13 .s38{
        width: 450px;
    }
    .main13 .s38 h1{
        font-size: 35px;
    }
    
    
    .main14{
        width: 480px;
        position: relative;
        top: 1600px;
        display: flex;
        flex-wrap: wrap;
    }
    .main14 p{
        width: 200px;
    }
    .main14 .s39{
        width: 50%;
    }
    
    footer{
        height: 700px;
        width: 480px;
        position: relative;
        top: 1900px;
    }
    .main15{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }
    .main15 .s40{
        width: 100%;
    }
    footer a{
        position: relative;
        top: 350px;
    }
}